@import '../node_modules/simditor/styles/simditor.css';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html, body {
  height: 100%;
}

.nav {
  background-color: #e4e2e5;
  height: 80px;
}

.container {
  overflow: hidden;
  height: 100%;
  margin-top: -80px;
  padding-top: 80px;
}

.menu-col {
  width: 13%;
  height: 100%;
  overflow: scroll;
  float: left;
  background-color: #ededf4;
}

.blogs-col {
  width: 15%;
  float: left;
  height: 100%;
  overflow: scroll;
  background-color: #f7f7f7;
  border-right: solid 1px #d5d8d5;
  border-left: solid 1px #d5d8d5;
}

.blog-col {
  width: 72%;
  float: left;
  height: 100%;
  padding: 5px 40px;
  background-color: #f1f1f3;
  overflow: scroll;
  .simditor {
    border: none;
    .simditor-toolbar {
      background-color: #f1f1f3;
    }
  }
}
