@import "/bower_components/font-awesome/css/font-awesome.css";
@import "/node_modules/simditor/styles/simditor.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html, body {
  height: 100%;
}

.button {
  padding: 0 5px;
  display: inline-block;
}

.nav {
  background-color: #e4e2e5;
  height: 80px;
  padding: 0 5px 0 10px;
  width: 100%;
  position: fixed;
  .button {
    line-height: 70px;
  }
  .nav-left {
    float: left;
    img {
      margin-top: 10px;
      height: 60px;
    }
  }
  .nav-right {
    float: right;
    i {
      font-size: 30px;
      vertical-align: middle;
    }
    img {
      height: 40px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
}

.container {
  overflow: hidden;
  height: 100%;
  padding-top: 80px;
  clear: both;
}

.menu-col {
  width: 13%;
  height: 100%;
  overflow: auto;
  float: left;
  background-color: #ededf4;
}

.blogs-col {
  width: 15%;
  float: left;
  height: 100%;
  overflow: auto;
  background-color: #f7f7f7;
  border-right: solid 1px #d5d8d5;
  border-left: solid 1px #d5d8d5;
}

.blog-col {
  width: 72%;
  float: left;
  height: 100%;
  padding: 5px 40px;
  background-color: #f1f1f3;
  overflow: auto;
  .simditor {
    border: none;
    .simditor-toolbar {
      background-color: #f1f1f3;
    }
  }
}
